@font-face {
  font-family: 'Lato-Regular';
  src:url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Trajan-Pro-Regular';
  src:url('../fonts/Trajan-Pro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-Regular';
  src:url('../fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-Bold';
  src:url('../fonts/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'FiraSans-Thin';
  src:url('../fonts/FiraSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src:url('../fonts/PlayfairDisplay-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src:url('../fonts/PlayfairDisplay-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Gorgeous-Regular';
  src:url('../fonts/gorgeous/Gorgeous_Commercial_Version/Gorgeous-Regular.ttf') format('truetype');
}

.fas{
  font-size: 0.75vw;
  margin: -0.1vw;
  color: #ffc102;
}

body{
  /* overflow-x: hidden; */
  padding-bottom: 10vw;
  margin: 0;
}
div{
  position: relative;
  /* margin-bottom: 0.15vw; */
}

header{
  height: 61.6464vw;
  /* background: linear-gradient(135deg, rgba(232,177,229,1) 0%, rgba(255,86,39,1) 69%, rgba(255,86,39,1) 100%); */
  background: black;
  display: flex;
  justify-content: center;
  width: 100%;
}

.navContainer{
  z-index: 5;
  overflow: hidden;
  width: 100%;
  /* border: 1px solid red; */
  height: 4vw;
  position: absolute;
  right: 0;
  top: 0;
}
nav{
  transition: all 2s ease;
  transition-delay: 2s;
  display: flex;
  position: absolute;
  z-index: 3;
  right: -45vw;
  padding-left: 1.5vw;
  align-items: center;
  top: 0;
  background: rgba(255,255,255,0.25);
  height: 3.68038vw;
}

.search{
  transition: 0.5s;
  position: absolute;
  width: 1.45278vw;
  left: -2.7vw;
  filter: brightness(1);
}
.search:hover{
  cursor: pointer;
  filter: brightness(1.2);
}

.cardBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0vw;
  position: relative;
  top: -0.33vw;
  margin-right: 4.7vw;
}
.cardBox p{
  font-family: 'Trajan-Pro-Regular';
  font-size: 0.87167vw;
  margin: 0;
  position: relative;
  left: 0.1vw;
  top: 0.2vw;
  font-weight: 900;
  color: #ecf207;
}

.card{
  width: 1.35593vw;
}

.card:hover{
  cursor: pointer;
}

.navLinks{
  display: flex;
  margin-right: 12.9vw;
}

.navLinks a{
  font-family: 'FiraSans-Regular';
  text-decoration: none;
  color: #4d4b50;
  font-size: 0.96vw;
  margin-right: 1.29vw;
}

.navLinks a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.userIcon{
  width: 1vw;
  margin-right: 2.5vw;
}
.userIcon:hover{
  cursor: pointer;
}

.flagBox{
  transition: all 0.5s ease;
  height: 100%;
  width: 4.358353vw;
  background: #fff3f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flagBox:hover{
  background: white;
  cursor: pointer
}
.flagImg{
  width: 2.03389vw;
}


.headerContent{
  box-shadow: 0px 0px 8.03874092vw 0px rgba(0,0,0,0.16);
  /* border: 1px solid; */
  position: relative;
  width: 85.133vw;
  height: 51.3317vw;
  background: linear-gradient(135deg, rgba(144,130,255,1) 0%, rgba(144,130,255,1) 21%, rgba(244,104,178,1) 53%, rgba(255,82,41,1) 87%, rgba(255,82,41,1) 100%);
}

.bgShadow{
  position: absolute;
  width: 68vw;
  height: 46.0048vw;
  /* background: red; */
  /* z-index: 1; */
  top: 5.2vw;
  box-shadow: 0px 4.4067796vw 6.97336vw 0px rgba(0,0,0,0.63);
}

.lefSideContainer{
  overflow: hidden;
  /* border: 1px solid red; */
  perspective: 50vw;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
}

.leftSideNarrowBox{
  position: absolute;
  box-shadow: 0.4842615vw 0.4842615vw 2.2276029vw 1.40435vw rgba(0,0,0,0.1);
  width: 25.71428vw;
  height: 100%;
  background: linear-gradient(to bottom, rgba(177,135,255,1) 0%, rgba(99,39,180,1) 100%);
  left: -6.3vw;
  top: 0;
  transform: skewX(-14deg);
  z-index: 3;
}

.lefSideTopTextContainer{
  transition: all 1s ease-out;
  transition-delay: 2s;
  position: relative;
  z-index: 4;
  border-bottom: 1px solid #d3bcfe;
  display: flex;
  align-items: center;
  width: 25vw;
  overflow: hidden;
  /* height: 3.4vw; */
  height: 0vw;
}

.freeShiping{
  font-family: 'Trajan-Pro-Regular';
  font-size: 0.87167vw;
  margin: 0;
  margin-left: 0.5vw;
}

.customerRating{
  font-family: 'FiraSans-Regular';
  font-size: 0.94vw;
  margin-left: 1.7vw;
}

.gift{
  width: 1.404358vw;
  margin-left: 1vw;
}

.rating{
  margin-left: 0.85vw;
}

.shoperContainer{
  transition: all 1s ease;
  transition-delay: 3s;
  /* border: 1px solid red; */
  position: relative;
  /* left: -25vw; */
  left: 1.6vw;
  opacity: 0;
  z-index: 4;
}

h1{
  z-index: 4;
  position: relative;
  font-size: 2.905569vw;
  color: #ffed57;
  font-family: 'FiraSans-Bold';
  margin: 0;
  margin-left: 4vw;
  margin-top: 1vw;
}

h1 span{
  font-family: 'FiraSans-Thin';
  font-weight: 100;
}

.number {
  font-family: 'FiraSans-Regular';
  position: relative;
  text-decoration: none;
  color: #82e6ff;
  margin: 0;
  font-size: 1.162227vw;
  z-index: 4;
  margin-left: 4vw;
  /* margin-top: -5.5vw; */
  top: -0.3vw;
}

.seasonSaleContainer{
  transition: all 1s ease;
  position: absolute;
  top: 17vw;
  left: 5.7vw;
  text-align: right;
  z-index: 2;
  /* border: 1px solid red; */
  color: white;
  transform-origin: right;
  transform: rotateY(-5deg);
}

.seasonSaleContainer h2{
  font-family: 'PlayfairDisplay-Regular';
  font-size: 3.3196vw;
  line-height: 1.1;
  font-weight: 100;
}

.seasonSaleContainer h2 span{
  font-family: 'PlayfairDisplay-Bold';
  font-size: 7.16949vw;
}

.border{
  transition: all 1s ease;
  position: absolute;
  top: 5.15vw;
  left: 3.76vw;
  /* border: 1px solid red; */
  z-index: 4;
  width: 23.7288vw;
  transform: rotateY(5deg);
  transform-origin: right;
}

.gradButton{
  transition: all 1s ease;
  transition-delay: 3s;
  opacity: 0;
  z-index: 4;
  background: linear-gradient(to bottom, rgba(255,170,148,1) 0%, rgba(255,153,127,1) 100%);
  width: 14.18886vw;
  height: 3.58353vw;
  border-radius: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 37vw;
  left: 12vw;
  filter:brightness(1);
}

.gradButton:hover{
  cursor: pointer;
  filter:brightness(1.1);
}

.gradButton p{
  font-family: 'FiraSans-Regular';
  position: relative;
  color: white;
  font-size: 1.452784vw;
  pointer-events: none;
}

.prodContainer{
  position: absolute;
  bottom:8.95883vw;
  right: 6.585956vw;
  width: 32.736vw;
  height: 31.4769vw;
  z-index: 1;
}
.prodBG{
  top: 0;
  left: 0;
  width: 32.736vw;
  height: 31.4769vw;
  position: absolute;
  box-shadow: 0px 0px 11.4769vw 0px rgba(171,0,0,0.2);
}
.dust{
  position: absolute;
  top: -11vw;
  left: -6vw;
  width: 49.5883vw;
}

.bigProductBox{
  position: absolute;
  /* border: 1px solid red; */
  top: -4.4vw;
  left: 12.8vw;
}

.bigProductImg{
  width: 26.1501vw;
}

.prodMiniCar{
  /* border: 1px solid red; */
  position: absolute;
  left: 2vw;
  bottom: -2vw;
  display: flex;
}

.prodMiniBox{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  margin-right: 1.1843vw;
  width: 5.7142vw;
  height: 5.7142vw;
  background: rgba(254,175,136,0.75);
  border-radius: 5px;
  border: 0.51493vw solid rgba(255,255,255,0.16);
  /* box-sizing: border-box; */
  background-clip: content-box;
  transform: scale(1);
  flex-shrink: 0;
}
.prodMiniBox:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.prodMiniBox img{
  width: 80%;
}

/* arrows */
.leftArrowHolder{
  width: 4vw;
  height: 4vw;
  /* border: 1px solid red; */
  overflow: hidden;
}

.leftArrowHolder p{
  left: 1vw;
}

.rightArrowHolder{
  width: 4vw;
  height: 4vw;
  /* border: 1px solid red; */
  overflow: hidden;
  margin-right: 0.2vw;
}

.rightArrowHolder p{
  left: -1vw;
}

.rightArrowHolder div{
  right: -2vw;
}

.leftCarArrowBox,.rightCarArrowBox{
  transition: 0.3s;
  width: 4vw;
  position: relative;
  height: 4vw;
  background: rgb(230,230,230,0.25);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* top: calc(50% - 1vw); */
  /* opacity: 0.25; */
  /* margin-bottom: 1vw; */
  /* left: -2vw; */
}
.leftCarArrowBox:hover,.rightCarArrowBox:hover{
  cursor: pointer;
  /* opacity: 0.6; */
  background: rgb(230,230,230,0.65);
}
.leftCarArrowBox p,.rightCarArrowBox p{
  transform: scale(1,1.6);
  font-size: 1.4vw;
  position: relative;
  font-weight: 800;
  transform: rotate(180deg);
  color: black;
}
.arrows {
    /* border: 1px solid black; */
    position: absolute;
    top: 28vw;
    width: 12vw;
    left: 24vw;
    display: flex;
}
.leftCarArrowBox{
  left: -2vw;
}
.rightCarArrowBox{
  right: 1vw;
}
/* header end */

/* section Two start */
.sectionTwo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secTwoGridContainer{
  /* border: 1px solid red; */
  width: 75.99225vw;
  height: 83.01064vw;
  display: flex;
  overflow: hidden;
  margin-top: 2.66734vw;
}
.secTwoGridContainer img{
  width: 100%;
  /* height: 130%; */
  transform: scaleY(1.00);
}

.gridBox{
  width: 100%;
  height: 20.5711vw;
  background: black;
  margin-bottom: 0.3vw;
}
.gridBox:hover > .insideLayer{
  opacity: 1;
}
.insideLayer{
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
  color: white;
  font-family: 'Gorgeous-Regular';
}
.insideLayer p , .insideLayerTwo p{
  font-size: 7.50242vw;
  margin: 0;
  position: relative;
  left: 2vw;
}

.insideLayer h2 , .insideLayerTwo h2{
  margin: 0;
  font-size: 11.4094vw;
  position: relative;
  letter-spacing: 0.7vw;
  left: 12vw;
  top: -2vw;
}

.gridBoxThree:hover > .insideLayerTwo{
  opacity: 1;
}
.insideLayerTwo{
  background-color: rgba(0,0,0,0.67);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
  color: white;
  font-family: 'Gorgeous-Regular';
}

.gridBoxTWo:hover > .insideLayerThree{
  opacity: 1;
}
.insideLayerThree{
  background-color: rgba(0,0,0,0.67);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
  color: white;
  font-family: 'Gorgeous-Regular';
}
.insideLayerThree p{
  font-size: 7.50242vw;
  margin: 0;
  position: relative;
  left: 7vw;
  /* font-weight: 100; */
  top: 4vw;
}
.insideLayerThree h2{
  margin: 0;
  font-size: 17.4094vw;
  position: relative;
  letter-spacing: 0.7vw;
  left: -3vw;
  top: 5vw;
  writing-mode: tb;
  font-weight: 100;
}
.gridBoxFour:hover .insideLayerFive{
  opacity: 1;
}
.insideLayerFive{
  background-color: rgba(0,0,0,0.67);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease;
  opacity: 0;
  color: white;
  font-family: 'Gorgeous-Regular';
}
.insideLayerFive p{
  font-size: 7.50242vw;
  margin: 0;
  position: relative;
  left: 7vw;
  /* font-weight: 100; */
  top: 4vw;
}
.insideLayerFive h2{
  margin: 0;
  font-size: 17.4094vw;
  position: relative;
  letter-spacing: 0.7vw;
  left: -3vw;
  top: 5vw;
  writing-mode: tb;
  font-weight: 100;
}

.gridLineOne{
  width: 50%;
  /* border: 1px solid blue; */
  margin-right: 0.387221vw;
  /* overflow: hidden; */
}
.gridLineTwo{
  width: 50%;
  /* border: 1px solid blue; */
}

.freeDeliveryAndReturnContainer{
  width: 62.0706vw;
  /* text-align: center; */
  padding: 1px;
  margin-bottom: 0vw;
  /* padding-top: 2vw; */
  margin-top: 5.66vw;
  padding-bottom: 2.5vw;
  background-size: 100% 100%;
  background-image: url('../images/sectionTwo/secTwoBaner.jpg');
}

.freeDeliveryAndReturnContainer h2{
  font-size: 6.292352vw;
  color: white;
  margin: 0;
  font-family: 'Gorgeous-Regular';
  font-weight: 100;
  font-weight: 800;
  letter-spacing: 0.4vw;
  text-align: center;
}

.freeDeliveryAndReturnContainer h3{
  font-family: 'Lato-Regular';
  font-size: 1.0vw;
  color: white;
  margin: 0;
  margin-top: 1vw;
  font-weight: 100;
  margin-left: 7vw;
  margin-right: 4vw;
}
/* section Two end */

/* sec three start */
.secThreeThingsOn{
  position: relative;
}
.secThreeThingsOn h2{
  text-align: center;
  font-family: 'Gorgeous-Regular';
  font-size: 7.2604vw;
  color: #4e4f52;
  letter-spacing: 0.4vw;
  font-weight: 900;
  position: relative;
  margin-bottom: 1vw;
}
.secThreeArtBox{
  width: 12.22846vw;
  height: 12.22846vw;
  position: absolute;
  border: 1px solid #d1d1d1;
  top: 1vw;
  left: 43vw;
  /* transition: rota; */
  transform: rotate(45deg);
}
.secThreeContainer{
  /* border: 1px solid red; */
  position: relative;
  width: 100%;
  height: 41.142vw;
  display: flex;
}
.secThreeBox{
  cursor: pointer;
  position: relative;
  /* border: 1px solid blue; */
  margin: 0.145208vw;
}
.secThreeBox img{
  width: 100%;
}
.secThreeBox p{
  position: absolute;
  font-family: 'Gorgeous-Regular';
  font-size: 7.26vw;
  color: white;
  font-weight: 900;
  top: 23vw;
  left: 17vw;
  transform: rotate(-14deg);
  letter-spacing: 0.4vw;
}
.secThreeBox:hover .secThreeCircles{
  top: 29vw;
  left: 13vw;
}
.secThreeCircles{
  transition: all 0.5s ease;
  width: 9.87415vw;
  height: 9.87415vw;
  position: absolute;
  border-radius: 50%;
  /* top: 29vw; */
  /* left: 13vw; */
  top: 28vw;
  left: 18vw;
}
.circOne{
  background: #ff973e;
}
.circTwo{
  background: #7d7dfe;
}
.circThree{
  background: #fee873;
}
/* sec three end */

/* section four start */
.secFour{
  position: relative;
  /* border: 1px solid red; */
  /* padding-top: 3vw; */
  margin-top: 10vw;
}
.secFour h2{
  text-align: center;
  font-family: 'Gorgeous-Regular';
  font-size: 7.2604vw;
  /* color: #4e4f52; */
  letter-spacing: 0.4vw;
  font-weight: 900;
  position: relative;
  margin-bottom: 1vw;
  margin: 0;
}
.secFourArtBox{
  width: 12.22846vw;
  height: 12.22846vw;
  position: absolute;
  border: 1px solid #d1d1d1;
  top: 1vw;
  left: 43vw;
  /* transition: rota; */
  transform: rotate(45deg);
}
.secFourContent{
  background: white;
  position: relative;
  /* border: 1px solid black; */
  height: 43.5624vw;
  width: 100%;
  display: flex;
  justify-content: center;
}
.secFourBox{
  cursor: pointer;
  width: 31.461761vw;
  overflow: hidden;
  margin-left: 1.30687vw;
  margin-right: 1.30687vw;
  /* border: 1px solid blue; */
}
.secFourBox:hover .secFourCircle{
  top: 10vw;
}
.secFourBox img{
  width: 100%;
  height: 100%;
}
.secFourCircle{
  transition:all 0.5s ease;
  font-family: 'Gorgeous-Regular';
  position: absolute;
  left: 1vw;
  top: 13vw;
  width: 29.2352vw;
  height: 29.2352vw;
  border-radius: 50%;
  color: white;
  text-align: center;
}
.secFourCircle h3{
  /* font-weight: 100; */
  font-size: 12.2942vw;
  margin: 0;
  margin-top: 9vw;
  letter-spacing: 0.6vw;
}
.secFourCircle p{
  font-size: 8.80929vw;
  margin: 0;
  font-weight: 100;
  position: relative;
  top: -3vw;
}
.secFourCircOne{
  background: rgba(255,64,99,0.78);
}
.secFourCircOne:hover{
  background: rgba(255,64,99,0.98);
}
.secFourCircTwo{
  background: rgba(245,192,115,0.78);
}
.secFourCircTwo:hover{
  background: rgba(245,192,115,0.98);
}
/* section four end */
